body {
  background-color: #333;
  color: #fff;
}

#title {
  text-align: center;
}

#image {
  display: block;
  margin: 1em auto;
  max-width: 100%;
  height: auto;
  border: 7px solid #000;
  border-radius: 100px;
  filter: contrast(130%) brightness(90%);
}

#img-caption {
  text-align: center;
}

#tribute-info {
  max-width: 75vw;
  margin: 0 auto;
}

#tribute-link {
  display: block;
  text-align: center;
  color: #fff;
  margin: 1em auto;
  max-width: 75vw;
  background-color: #000;
  height: 1em;
  border-radius: 0.5em;
}

#tribute-link:visited {
  color: #aaa;
}
