body {
   background-color: #2E3440;
   margin: 0;
   text-align: center;
 }

 header {
   color: #5E81AC;
   position: fixed;
   top: 3em;
   left: 50%;
   transform: translate(-50%, -50%);
 }

#projects-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.project-tile {
  width: 364px;
  border-radius: 30px;
  box-shadow: 0 0 15px black;
  background-color: #5E81AC;
  margin: 15px;
}

img {
  border-radius: 30px;
  border: 2px solid #5E81AC;
}

figcaption {
  color: #2E3440;
  margin: 1em 0;
  font-weight: bold;
}

@media screen and (max-width: 787px) {
  header {
    display: none;
  }
}
